.Body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
}

.sec-1,
.sec-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  margin-left: 150px; /* Adjust left margin for section alignment */
  margin-right: 150px; /* Adjust right margin for section alignment */
}

.sec-1 img,
.sec-2 img {
  width: 268px;
  height: 268px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  align-items: center;
}

.process{
  text-decoration: none;
  color: black;
}

:hover.process{
  text-decoration: none;
  color: #d01c28;
}

.t2h, .t2b{
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}