/* Basic styling for the navigation bar */


/* Styling for the logo */
.Logo {
  display: flex;
  align-items: center;
}

.Logo img {
  height: 20px; /* Adjust the height of the logo as needed */
}

.logoText {
  margin-left: 10px; /* Adjust the margin as needed */
}

/* Styling for the navigation items */
ul {
  list-style: none; /* Remove bullet points */
  display: flex;
}

li {
  margin-left: 20px; /* Adjust the spacing between items */
}

/* Style the links */
li a {
  text-decoration: none;
  color: white; /* Link color */
  font-weight: bold;
}

/* Change link color on hover */
li a:hover {
  color: #ffcc00; /* Adjust the hover color as needed */
}

button.icon-button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  /* Additional styles for icon size, color, etc. */
}

button.icon-button:focus {
  outline: none; /* Remove focus outline if needed */
}
